<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beat me up on Orange Day</title>
    <link rel="stylesheet" href="style2.css"> 
</head>

<body>
<div class="page-container"> 
  
    <nav > 
        <div class="logo">
            <img src="images2/Matthew.png" alt="ritik has aura!!!" style="width:100px;">
        </div>
        <div class="title">
            <p>Beat me up on Orange Day</p>
        </div>
    </nav> 


    <header > 
        <h1 style="text-align: center;">ORANGE SUCKS (exept for matthew ofc)</h1>
    </header> 
 
  
    <div class="main-container"> 
        <div>  
            <img src="images2/Kill Orange.png" alt="ritik has aura!!!">
        </div>
        
        <div class="text-container">
            <p>Beat me up on orange day is a day where you beat up people because they like the color orange.<br>
                This day happens on may 16th, right after pink shirt day so if there was someone ou wanted to bully real bad<br>
                then bully them the next day.</p>
        </div>
        
    </div> 
  
    <footer>
        <p style="text-align: center;">Copyright © 2026 Ritik's AURA. All rights reserved.</p>
    </footer> 
</div> 

</body>
</html>