<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ritik's AURA</title>
    <link rel="stylesheet" href="style1.css"> 
</head>

<body>
<div class="page-container"> 
  
    <nav > 
        <div class="logo">
            <img src="images1/Screenshot 2026-05-14 094324.png" alt="ritik has aura!!!" style="width:100px;">
        </div>
        <div class="title">
            <p>Ritik's AURA</p>
        </div>
    </nav> 


    <header > 
        <h1 style="text-align: center;">Ritik Ritik Ritik(slow+reverb) sahur</h1>
    </header> 
 
  
    <div class="main-container"> 
        <div>  
            <img src="images1/Screenshot 2026-05-14 091123.png" alt="ritik has aura!!!">
        </div>
        
        <div>
            <p>Ritik promotes Claude Claude Claude sahur</p>
        </div>
        
    </div> 
  
    <footer>
        <p style="text-align: center;">Copyright © 2026 Ritik's AURA. All rights reserved.</p>
    </footer> 
</div> 

</body>
</html>