header{
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #cecece;  
    border: none; 
    display:flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}

body{
    background-color: white;
    border: none;
}

footer{
    background-color: #cecece;  
    border: none;
}

nav{
    align-self:center;
    display:flex;
    align-items: center;
}

#search{
    border-radius: 25px;
    border: none;
    background-color: white;
    padding: 1px;
    padding-left: 15px;
    padding-right: 15px;
    width: 250px;
}

#content{
    text-align: center;
}

#options{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.option{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: 100px;
}

.footerinfo{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
}

#footercontain{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

footer{
    padding: 30px;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

#footerleft{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}